#rapi_renew,
#rapi_form {
    display: none;
}

#member_fetch_error {
    display: none;
}

#waiver_modal {
    display: none;
}

#paypal_wrapper {
    pointer-events: none;
    background-color: #ffffff;
    opacity: 0.5;
    z-index: 99;
    cursor: default;
}
label.waiver {
    color: gray;
}

.form-error {
    font-size: 10px;
    display: block;
    min-height: 10px;
    color: #ff0000;
}

input.disable {
    border: none;
}

